Andres Felipe Ocaña Pantoja <4592@holbertonschool.com> AFOP 
Jhojan David Perlaza Arana <jhojanperlaza@gmail.com> jhojanperlaza
Sebastian García Tamayo <4564@holbertonschool.com> SebasGTX1
Robert Ortega <robert.ortega.octavo@gmail.com> Robert-octavo 
